@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

*{
  font-family: 'Cairo', sans-serif;
}


.container {

  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}



.chakra-ui-light{
    background-color: #f2f3f5
    ;

  }